<h2>Pirate</h2>
<form method="POST" action="/pirates">
  <label for="pirate_name">Name</label><br>
  <input id="pirate_name" type="text" name="pirate[name]"/><br>
  <label for="pirate_weight">Weight</lable><br>
  <input id="pirate_weight" type="text" name="pirate[weight]"/><br>
  <label for="pirate_height">Height</lable><br>
  <input id="pirate_height" type="text" name="pirate[height]"/><br>
  
  <h2>Ship(s)</h2>
  <label for "ship_name1">Name</label><br>
  <input id="ship_name1" type="text" name="pirate[ships][][name]"/><br>
  <label for "ship_type1">Type</label><br>
  <input id="ship_type1" type="text" name="pirate[ships][][type]"/><br>
  <label for "ship_booty1">Booty</label><br>
  <input id="ship_booty1" type="text" name="pirate[ships][][booty]"/><br>
  
  <label for "ship_name2">Name</label><br>
  <input id="ship_name2" type="text" name="pirate[ships][][name]"/><br>
  <label for "ship_type2">Type</label><br>
  <input id="ship_type2" type="text" name="pirate[ships][][type]"/><br>
  <label for "ship_booty2">Booty</label><br>
  <input id="ship_booty2" type="text" name="pirate[ships][][booty]"/><br>

</form>
